BETTER_AUTH_SECRET= # use `openssl rand -hex 10` to generate a safe token
NEXT_PUBLIC_URL=http://localhost:3000 # your server's IP or your reverse proxy's IP
NEXT_PUBLIC_GUEST_RESOURCES_HOST=a.dev.yhw.tw
NEXT_PUBLIC_GUEST_RESOURCES_URL=http://a.dev.yhw.tw:3000
DB_USER="example"
DB_PASSWORD="examplePassword"

## SSO
NEXT_PUBLIC_SSO_ENABLE=false
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_DISCOVERY_URL=

# FOR GENERIC HOME LAB USE, IT IS SAFE TO SET TO "true"
IGNORE_PROTECTIONS=false

# NO TRAILING SLASH
PROTECTION_PROXY_URL="http://porca:4000"
PROTECTION_PROXY_TOKEN="abcd"
