BETTER_AUTH_SECRET=
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_GUEST_RESOURCES_HOST=http://a.dev.yhw.tw:3000 # Goes to 127.0.0.1
DATABASE_URL=postgresql://user:user@localhost/db
#CADDY_API_SERVER="http://localhost:2019"
## SSO
NEXT_PUBLIC_SSO_ENABLE=true
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_DISCOVERY_URL=
